[submodule "themesairspace-hugo"]
	path = themesairspace-hugo
	url = https://github.com/themefisher/airspace-hugo.git
[submodule "themes/airspace-hugo"]
	path = themes/airspace-hugo
	url = https://github.com/themefisher/airspace-hugo.git
