{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="portfolio-single-page section-sm">
  <div class="project-content-container">
    <div class="row">
      <div class="col-md-6">
        <div class="project-content" style="font-size: 18px !important;">
          <br>
          {{ .Content }}
        </div>
        <br>
        {{ if .Params.Distillery_btn }}
        <div>
          <a href="/distillery" target="_blank" class="btn btn-main animated fadeInUp">Discover more about the
            process</a>
        </div>
        {{ end }}
      </div>
      <div class="col-md-6">
        <div class="project-content">
          <img src="../../{{ .Params.Content_image }}" class="project-image"  />
        </div>
      </div>
    </div>
  </div>
</section>

{{ if .Params.Enable_grid_images}}
<div class="row shuffle-wrapper mobile-hide">
  {{ range .Params.Grid_images_1}}
  <div class="shuffle-item">
    <a href="../../{{ .src }}">
      <img src="../../{{ .thumb }}" class="grid-image" />
    </a>
  </div>
  {{end}}
  {{ range .Params.Grid_images_2}}
  <div class="shuffle-item">
    <a href="../../{{ .src }}">
      <img src="../../{{ .thumb }}" class="grid-image-2">
    </a>
  </div>
  {{end}}

</div>
{{ end }}

{{ end }}