{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.distillery.distillery }}
<section class="distillery">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .description | markdownify }}</p>
      </div>
    </div>
    <div class="row">
      {{ range .distillery_item }}
      <div class="col-sm-6 col-md-3 distillery-product-container">
        <div class="distillery-item">
          <img src="{{.image}}" class="distillery-product-image {{.class}}"/>
          <h4>{{ .name | markdownify }}</h4>
          <p style="font-style: italic;color: #666;font-family: volkhov,serif;">{{ .meta | markdownify }}<p>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}