{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.distillery.about.enable }}
{{ with $data.distillery.about }}
<section class="distillery-about distillery-about-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>{{ .title | markdownify }}</h2>
        <p class="mt-30">{{ .content | markdownify }}</p>
      </div>
      <div class="col-md-6">
        <img class="img-responsive" src="{{ .image | absURL }}" style="margin-top: 40px;">
      </div>
    </div>
    <div class="row" style="margin-top: 50px;">
      <ol>
        {{ range .items }}
        <li>
          <p>{{ .content }}</p>
        </li>
        {{end}}
      </ol>
    </div>
    {{ if $data.distillery.bottom_image }}
    <div class="row">
      <img src="{{$data.distillery.bottom_image}}"
        style="width: 95%; display: block; margin-left: auto; margin-right: auto; margin-top: 15px;" />
    </div>
    {{ end }}
  </div>

</section>
{{ end }}
{{ end }}

{{ if $data.distillery.featured_distillery.enable }}
{{ with $data.distillery.featured_distillery }}
<section class="distillery-arrow">
  <div class="container-fluid">
    <div class="row">
      {{ range .distillery_item }}
      <div class="col-md-4 bg-primary bg-{{ .color }}">
        <div class="block">
          <i class="{{ .icon }}"></i>
          <h3>{{ .name | markdownify }}</h3>
          <p>
            {{ .content | markdownify }}
            {{if .br }}<br>&nbsp;{{ end }}
          </p>

        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}


<!-- Distillery -->
{{ if $data.distillery.distillery.enable }}
{{ partial "distillery.html" . }}
{{ end }}
<!-- /distillery -->

<!-- Call to action -->
{{ if $data.distillery.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="col-md-offset-2">
      <a href="/products" target="_blank" class="btn btn-main animated fadeInUp">Explore more about <br> our products</a>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
{{ end }}