.bg-1 {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.bg-2 {
	background-size: cover;
	background-attachment: fixed;

	@media only screen and (min-width: 1024px) {
		background-image: url('../images/smilje/lavender.jpg');
		background-position-x: -150px;
		background-size: 110%;
	}
}

.bg-3 {
	background-size: cover;
	background-attachment: fixed;
}