{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.products.products }}
<section class="distillery">
  <div class="container">
    <div class="row">
      {{ range .product_item }}
      <div class="col-sm-6 col-md-3" style="width: 20%;" >
        <div class="distillery-item">
          <a href="{{.url}}"><img src="{{.image}}" style="width: {{.width}}%;height: {{.height}}%"/></a>
          <a href="{{.url}}"><h4 >{{ .name | markdownify }}</h4></a>
          <p style="font-style: italic;color: #666;font-family: volkhov,serif;">{{ .meta | markdownify }}<p>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
      
    </div>
    <h4>HYDROLATES</h4>
    <br>
<p>Hydrolates or floral waters are formed as an additional product in the production of essential
oils. During distillation water vapor powers through the plant mass and carries the essential
oil droplets with its active substances. Essential oils are naturaly poorly soluble in water, so
they usually remain floating on a layer of water. This finely scented water, hydrolate or flower
water, is saturated with substances from essential oils and has mild healing properties.
Legend has it that first people did not want to produce essential oils but floral waters. During
distillation, they noticed a formation of the fragrant water that was completely different than
the tea of the same plant. Hydrolates have been part of the culture of many ancient nations for
centuries. For example, the original Lebanese baklava is made with rose hydrolate.
They are also very popular in cosmetics and are probably the best and most gentle skin tonics.
Unlike highly concentrated essential oils, hydrolates are mild and harmless. They are very
favorable to people who prefer safer and less irritating solutions. In this context, they are
useful in cosmetics for all those who are very sensitive to essential oils but still want natural
solution.</p>
<p>
The production of hydrolate is not a simple process. As everything, it comes with problems
that require advanced technological solutions. In some cases essential oils such as rose and
cinnamon dissolve better in water. As a consequence the hydrolate has to be recirculated to
the system and processed again. Such practices can impair the quality of the hydrolate, so we
perform them with great care. It is extremely important to pay attention to the ratios of active
substances left in the amount of hydrolate produced. If we use large amounts of water vapor,
we get a large amount of hydrolate. This dilutes the active substances in the hydrolate and it
may have a very faint odour.
</p>

<p>
Therefore, each manufacturer has to know exactly what amount of hydrolate may be obtained
from 1 kg of plant mass. This information is also stated on the certificate itself. In our
country, that is a ratio of 0.5-1 L of hydrolate per 1 kg of plant material. Very &quot;weak&quot;
hydrolates on the market have a ratio of 5-20 liters per 1 kg of plant material.
The method of distillation and the ratio of herbal drugs to hydrolates can often be recognized
by the smell. Unfavorable production technology can give us a smoke-smelling hydrolate with
a faint odour. It is important to mention that in our hydrolates there are no preservatives like
parabens or alcohol and the stability is achieved by double sterile filtration.
</p>
  </div>
</section>
{{ end }}