{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- banner -->
{{ if $data.homepage.banner.enable }}
{{ with $data.homepage.banner }}
<section class="slider" style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="grayout">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h1>{{ .title | markdownify }}</h1>
            <p>{{ .content | markdownify }}</p>
            {{ if .button.enable }}
            {{ with .button }}
            <a href="{{ .link | relLangURL }}" target="_blank" class="btn btn-main animated fadeInUp">{{ .label }}</a>
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner -->

{{ if $data.homepage.about.enable }}
{{ with $data.homepage.about }}
<!-- about -->
<section class="about" style="padding: 15px;">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>{{ .title | markdownify }}</h2>
            <p>{{ .description | markdownify }}</p>
          </div>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{ .image | relURL }}" class="img-responsive" alt="Img" style="position: relative;top: 50px;">
        </div>
      </div>
    </div>
  </div>
  <br>
</section>
<!-- /about -->
{{ end }}
{{ end }}

{{ if $data.homepage.portfolio.enable }}
{{ with $data.homepage.portfolio }}
<!-- portfolio -->
<section class="feature bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2 class="section-subtitle">{{ .title | markdownify }}</h2>
        {{ .content | markdownify }}
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | relLangURL }}" class="btn btn-view-works">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- /portfolio -->
{{ end }}

{{ with $data.homepage.portfolio_footer }}
<!-- portfolio footer -->
<section class="about" style="padding: 15px;">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2 class="subtitle">{{ .title | markdownify }}</h2>
          </div>
          <div class="subtitle-margin">
          {{ .content | markdownify }}
        </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{ .image | relURL }}" class="img-responsive" alt="Img"
            style="filter: saturate({{.saturate}}); border-radius: 50%">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /portfolio footer -->
{{ end }}

{{ end }}

<!-- Distillery -->
{{ if $data.homepage.distillery.enable }}
{{ partial "distillery.html" . }}
{{ end }}
<!-- /distillery -->

<!-- Call to action -->
{{ if $data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

<br>
<br>
<br>
<br>


{{if $data.homepage.homepage_items.enable}}
{{with $data.homepage.homepage_items}}
<section class="distillery-arrow">
  <div class="container-fluid">
    <div class="row">
      {{ range .homepage_item }}
      <div class="col-md-4 bg-primary bg-{{ .color }}">
        <div class="block">
          <i class="{{ .icon }}"></i>
          <h3>{{ .name | markdownify }}</h3>
          <p>
            {{ .content | markdownify }}
            {{if .br }}<br>&nbsp;{{ end }}
            {{if .br_second }}<br>&nbsp;{{ end }}
            {{if .br_third }}<br>&nbsp;{{ end }}
          </p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{end}}
{{end}}

<br>
<br>

<div class="row">
    <div class="col-md-2 col-sm-2 col-2 col-md-offset-1 cert-width"><img src="images/logo1.jpg" class="cert-image"></div>
    <div class="col-md-2 col-sm-2 col-2 cert-width"> <img src="images/logo_2.jpg" class="cert-image"></div>
    <div class="col-md-2 col-sm-2 col-2 cert-width"> <img src="images/logo3.jpg" class="cert-image"></div>
    <div class="col-md-2 col-sm-2 col-2 cert-width" > <img src="images/logo5.png" class="cert-image"></div>
    <div class="col-md-2 col-sm-2 col-2 cert-width" > <img src="images/quality.png" class="cert-image"></div>
</div>

<br>
<br>

{{ if $data.homepage.funfacts.enable }}
{{ with $data.homepage.funfacts }}
<!-- Content Start -->
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .description | markdownify }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="block">
          <ul class="counter-box clearfix">
            {{ range .funfact_item }}
            <li class="counter-item">
              <i class="{{ .icon }}"></i>
              <h4 class="count" data-count="{{ .count }}">0</h4>
              <span>{{ .name | markdownify }}</span>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="testimonial-carousel text-center">
          <div class="testimonial-slider owl-carousel">
            {{ range .testimonial_slider }}
            <div>
              <i class="ion-quote"></i>
              <p>"{{ .content | markdownify }}"</p>
              <div class="user">
                <img src="{{ .image | relURL }}" alt="client">
                <p><span>{{ .name | markdownify }}</span> {{ .designation | markdownify }}</p>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end}}
{{ end}}

{{ end }}